{% extends 'base.html.twig' %}

{% block title %}
Create a flight - AlexTravel
{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
  <div style="color:#17a2b8">
    <i class="far fa-check-circle fa-3x"></i>
  </div>
  </div>

  <div class="row justify-content-center">
    <h1>Thank you for your booking ! </h1>
  </div>

</div>


{% endblock %}
