body { background: #F5F5F5; font: 18px/1.5 sans-serif; }

.form-signin {
  margin: 0 auto;
}

.navbar {
  background-color: #17a2b8;
}

#navBarMenu a{
  color: #fefefe;
}


.price{
  color: #0f9d58;
}
